<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MARS</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    <div class="container-fluid">
        <div class="jumbotron text-center" id=jumbotron>
          <h1>Mission to Mars</h1>
          <p>Everything you need to know</p>
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button" id="button">Get the Latest Data!</a></p>
        </div>
    </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body" id="news_card">
                        <h2>{{ mars.news_title }}</h2>
                        <p>{{ mars.news_p_text }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" id="featured_image">
                <h2>Featured Mars Image</h2>
                <img src="{{ mars.featured_image }}" alt="Mars Featured Image" id="responsive">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body" id="weather_card">
                        <h3>Current Weather on Mars</h3>
                        <p>{{ mars.mars_weather }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <section>
                    <h3>Facts About Mars!</h3>
                    <p>{{ mars.mars_facts_table|safe }}</p>
                </section>
            </div>
        </div>

        <div class="row">
            <h1>Mars Hemispheres</h1>
            {% for hemi_image in mars.hemi_images %}
            
            <div class="col-md-6" id="hemi_images">
                <div class="card" style="width: 18rem;">
                    <img src="{{ hemi_image.img_url }}" class="card-img-top responsive" alt="Cerberus">
                    <div class="card-body">
                      <p class="card-text">{{ hemi_image.title }}</p>
                    </div>
                </div>
            </div>
        
            {% endfor %}
        </div>
</body>

</html>
